:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('/assets/place-details/place-details.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: 'Pangaia';
}

.container {
    display: flex;
    gap: 2rem;
    background: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    width: 100%;
    height: 100%;
}

.left-panel {
    width: 50%;

    h1 {
        margin-top: 0;
        font-size: 64px;
        margin-bottom: 1rem;
        font-family: 'Osgard';
    }

    p {
        font-size: 18px;
        line-height: 1.6;

        &.small {
            font-size: 16px;
        }
    }

    .form-row {
        margin-bottom: 1rem;
    }

    .full-width {
        width: 100%;
    }

    .form-actions {
        margin-top: 1.5rem;
        display: flex;
        gap: 1rem;
    }
}

.cards {
    width: 50%;
    display: flex;
    gap: 1rem;

    .card {
        width: 120px;
        height: 180px;
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;
        text-align: center;
        color: black;
        font-weight: bold;
        cursor: pointer;
        transition: transform 0.2s;

        h1 {
            margin-top: 0;
        }

        &.active {
            border: 4px solid #f6cd72;
        }

        &:hover {
            transform: scale(1.05);
        }

        img {
            width: 100%;
            height: 140px;
            object-fit: cover;
        }
    }
}
