<div class="container" @enterAnimation>
  <div class="left-panel">
    <h1>{{ cards[selected].title }}</h1>

    <!-- Modo Vista -->
    <div *ngIf="!isEditing">
      <div *ngFor="let key of getFieldKeys(cards[selected].fields)" class="field-row">
        <strong>{{ formatLabel(key) }}:</strong>
        <p>{{ cards[selected].fields[key] }}</p>
      </div>
      <button mat-raised-button color="primary" (click)="isEditing = true">Editar</button>
    </div>

    <!-- Modo Edición -->
    <div class="dark-theme-local">

      <form *ngIf="isEditing" (ngSubmit)="saveEdit()" class="form-edit">
        <div *ngFor="let key of getFieldKeys(cards[selected].fields)" class="form-row">
          <mat-form-field appearance="fill" class="dark-field full-width">
            <mat-label>{{ formatLabel(key) }}</mat-label>
            <input matInput type="text" [name]="key" [id]="key" [ngModel]="getFieldValue(selected, key)"
              (ngModelChange)="setFieldValue(selected, key, $event)" />
          </mat-form-field>
        </div>

        <div class="form-actions">
          <button mat-raised-button color="primary" type="submit">Guardar</button>
          <button mat-stroked-button type="button" (click)="isEditing = false">Cancelar</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Tarjetas -->
  <div class="cards">
    <div class="card" *ngFor="let card of cards; index as i" [class.active]="i === selected" (click)="selectTab(i)">
      <img [src]="card.image" [alt]="card.title" />
      <div>{{ card.title }}</div>
    </div>
  </div>
</div>