.custom-dialog-container {
  position: absolute;
  padding: 0;
  margin: 0;
  border-radius: 8px;
  background: none;
  box-shadow: none;
  transform: translate(-50%, -100%);
  pointer-events: auto;
}

.popup-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 250px;
}

.image-preview {
  margin-top: 10px;
  text-align: center;
}

.preview-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.full-width {
  display: flex;
}