<h2 mat-dialog-title>Información de la ciudad</h2>
<div mat-dialog-content>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Nombre de la ciudad</mat-label>
    <input matInput [(ngModel)]="cityName" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Descripción de la ciudad</mat-label>
    <textarea matInput [(ngModel)]="cityDescription"></textarea>
  </mat-form-field>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSave()">Guardar</button>
</div>
