html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#map {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}


// Externo al mapa
.toolbox {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.create-marker-toolbar-wrap {
  position: fixed;
  bottom: 20px;
  left: 50%;
  z-index: 10;
}

.custom-marker {
  pointer-events: auto;
  cursor: pointer;
}

.marker-label {
  text-align: center;
  font-size: 12px;
  color: white;
  text-shadow: 0 0 4px black;
}
