/* Asegura que el contenedor ocupe el 100% de la pantalla */
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}


body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

app-toolbox {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1; 
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
