:host { 
  position: fixed;
  bottom: 20px;
  left: 50%;
  z-index: 10;
}

.create-toolbar {
    background: var(--light-black);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.selected-icon {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
