.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.dialog-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 30px
}

mat-button-toggle-group {
  display: flex;
}

.icons-container {
  text-align: center;
  .icons-grid {
    display: flex;
    gap: 8px;
    margin-top: 50px;
    justify-content: center;

    button {
      background: #f0f0f0;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      padding: 4px;
      width: 110px;
        height: 110px;
      &.selected {
        background-color: #cce5ff;
      }
    }
  }
}

.icons-title {
  font-size: 18px;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}
